@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Hind Siliguri", sans-serif;
}
#ashik{
    font-size: 50px;
    font-variant: small-caps;
    letter-spacing: 4px;
    border: 12px groove red;
    padding: 102px;
    margin: 120px;
}